<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>XyGrib</Name>
    <Version>1.2.2</Version>
    <Title>XyGrib</Title>
    <Publisher>OpenGribs.org</Publisher>
	<ProductUrl>https://opengribs.org/en/xygrib</ProductUrl>
	<StartMenuDir>XyGrib</StartMenuDir>
    <TargetDir>@ApplicationsDir@/XyGrib</TargetDir>
	<RunProgram>@ApplicationsDirX86@/XyGrib/XyGrib.AppImage</RunProgram>
	<MaintenanceToolName>XyGribMaintenanceTool</MaintenanceToolName>
	<WizardStyle>Modern</WizardStyle>
	<Logo>xyGrib_32.png</Logo>
	<WizardDefaultWidth>620</WizardDefaultWidth>
	<InstallActionColumnVisible>true</InstallActionColumnVisible>
	<InstallerApplicationIcon>xyGrib_32</InstallerApplicationIcon>
	<InstallerWindowIcon>xyGrib_32</InstallerWindowIcon>
	<RemoteRepositories>
	<Repository>
		<Url>https://opengribs.org/repository/linux</Url>
	</Repository>
    </RemoteRepositories>

</Installer>
