<?xml version="1.0" encoding="UTF-8"?>
<Installer>
     <Name>XyGrib</Name>
     <Version>1.1.1</Version>
     <Title>XyGrib Installer</Title>
     <Publisher>OpenGribs.org</Publisher>
	 <StartMenuDir>XyGrib</StartMenuDir>
     <TargetDir>@ApplicationsDirX86@/XyGrib</TargetDir>
		<AllowSpaceInPath>true</AllowSpaceInPath>
	<WizardStyle>Modern</WizardStyle>
	<InstallerApplicationIcon>xyGrib_32</InstallerApplicationIcon>
	<InstallerWindowIcon>xyGrib_32</InstallerWindowIcon>
</Installer>
